*{
  margin: 10;
  padding: 10;
  box-sizing: border-box;
}

body{
  background-color: #0f2540;
  color: rgb(218, 234, 234);
  width: 100%;
  font-family:'Courier New', Courier;
}

button{
  cursor: pointer
}

ul{
  list-style: none;
}

button{
  cursor: pointer;
}
