

.btn-home{
    position:absolute;
    bottom: 6%;
    left: 4%;
    height: 60px;
    width: 60px;
    border-radius: 10px;
    border: 0;
    font-weight: bold;
    background-color: rgb(142, 195, 244);
    transition: all 0.5;
}

.btn-home:hover{
    background-color: white;
    color:antiquewhite
}